.price-display {
  display: inline-flex;
  align-items: center;
  color: #8c8c8c;
  font-weight: 400;
}

.price-display.price-display-small {
  font-size: 13px;
}

.price-display.price-display-medium {
  font-size: 14px;
}

.price-display.price-display-large {
  font-size: 16px;
}

.price-display.price-value {
  color: #8c8c8c;
}

